<!DOCTYPE html>
<html>

<head>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Bingo</title>


</head>

<body>
   <div data-role="page" id="Home"><!-- App home page -->

      <div data-role="header" data-theme='b'>
         <h1>Bingo</h1>
         <div data-role="navbar">
            <ul><!-- Navbar -->
               <!-- <li><a href="/" onclick="javascript:event.target.port=1337">Team Project Page</a></li> -->
               <li><a href="#Search" data-icon="star">Search for Dogs</a> </li>
               <li><a href="#Show" data-icon="star">Saved Dogs</a> </li>
            </ul>
         </div><!-- /navbar -->
      </div>

      <div data-role="content" data-theme='c'>
         <div style="text-align:center;">
            <h2>Bingo 🐾</h2>
            <br><br>
            Looking for a new best pal to add to your family? <br>Search for fuzzy friends in your area and find information
            quickly and easily!
            <br><br><br>
            <img src="/images/images-removebg-preview.png">
         </div>
      </div>

      <div data-role="footer" data-theme='b'>
         <h1>Team Bingo 2020</h1>
      </div>
   </div>


   <div data-role="page" id="Show"> <!-- Saved Dogs Page -->
      <div data-role="header" data-theme='b'>
         <h1>Bingo</h1>
         <div data-role="navbar">
            <ul>
               <li><a href="#Home" data-icon="star">Home Page</a> </li>
               <li><a href="#Search" data-icon="plus">Search for Dogs</a> </li>
            </ul>
         </div><!-- /navbar -->
      </div>

      <div data-role="content" data-theme='c'>
         <div style="text-align:center">
            <h2>Saved Dogs</h2>
            Keep track of your saved dogs here!
            <br><br><br>
            <ul data-role="listview" id="savedDogsDisplay"><!-- Dynamic list to append saved dogs to -->
            </ul>
         </div>
      </div>

      <div data-role="footer" data-theme='b'>
         <h1>Team Bingo 2020</h1>
      </div>

   </div>
   
   <div data-role="page" id="Search"><!-- Dog search page -->

      <div data-role="header" data-theme='b'>
         <h1>Bingo</h1>
         <div data-role="navbar">
            <ul>
               <li><a href="#Home" data-icon="star">Home Page</a> </li>
               <li><a href="#Show" data-icon="home">Saved Dogs</a> </li>
            </ul>
         </div><!-- /navbar -->
      </div>


      <div data-role="content" data-theme='d'>

         <select id="invItems">
            <option value="filter">Filter</option>
            <option value="edit">Edit filter</option>

         </select>
         <!-- Search options -->
         <section id=editoptions>
            <select id="breeds"><!-- Search parameters for dog breeds -->
               <option value="">Breeds</option>
               <option value="Retriever">Retriever</option>
               <option value="Siberian Husky">Siberian Husky</option>
               <option value="Shiba Inu">Shiba Inu</option>
               <option value="German Shepherd Dog">German Shepherd Dog</option>
               <option value="Corgi">Corgi</option>
               <option value="Cavalier King Charles Spaniel">Cavalier King Charles Spaniel</option>
            </select>

            <select id="age"><!-- Search parameters for dog ages -->
               <option value="">Age</option>
               <option value="Baby">Baby</option>
               <option value="Young">Young</option>
               <option value="Adult">Adult</option>
               <option value="Senior">Senior</option>
            </select>
            
            <select id="gender"><!-- Search parameters for dog genders -->
               <option value="">Gender</option>
               <option value="Male">Male</option>
               <option value="Female">Female</option>
            </select>

            <select id="location"><!-- Search parameters for locations -->
               <option value="">Location</option>
               <option value="98105">Seattle</option>
               <option value="98058">Renton</option>
               <option value="98006">Bellevue</option>
               <option value="98501">Olympia</option>
            </select>
            <button id="apply">Apply Filters</button>
      </div>

      <div class="bingo"><!-- Dog cards -->
         <div class="bingo--status">
            <i class="fa fa-remove"></i>
            <i class="fa fa-heart"></i>
         </div>

         <div class="bingo--cards">
            <div class="bingo--card" id="card-0"></div>
            <div class="bingo--card" id="card-1"></div>
            <div class="bingo--card" id="card-2"></div>
            <div class="bingo--card" id="card-3"></div>
            <div class="bingo--card" id="card-4"></div>
            <div class="bingo--card" id="card-5"></div>
            <div class="bingo--card" id="card-6"></div>
            <div class="bingo--card" id="card-7"></div>
            <div class="bingo--card" id="card-8"></div>
            <div class="bingo--card" id="card-9"></div>
            <div class="bingo--card" id="card-10"></div>
            <div class="bingo--card" id="card-11"></div>
            <div class="bingo--card" id="card-12"></div>                     
            <div class="bingo--card" id="card-13"></div>                     
            <div class="bingo--card" id="card-14"></div>                     
            <div class="bingo--card" id="card-15"></div>                     
            <div class="bingo--card" id="card-16"></div>                     
            <div class="bingo--card" id="card-17"></div>                     
            <div class="bingo--card" id="card-18"></div>                     
            <div class="bingo--card" id="card-19"></div>                     
            <script src='https://hammerjs.github.io/dist/hammer.min.js'></script>
         </div>

         <!-- Like and dislike buttons -->
         <div class="bingo--buttons">
            <button id="nope" data-role="button" data-inline="true"><i class="fa fa-remove"></i></button>
            <button id="love" data-role="button" data-inline="true"><i class="fa fa-heart"></i></button>
         </div>

         <div data-role="footer" data-theme='b'>
            <h1>Team Bingo 2020</h1>
         </div>

      </div>

</body>
</html>